@import "scss/_vars.scss";
@import "scss/common.scss";

#edit-profile-dialog {
	&.loading {
		display: flex;
		justify-content: center;
	}
	.form-heading {
		@include font-family-bold();
		margin-bottom: 5px;
		font-size: 25px;
	}

	input[type='file'] {
		display: none;
	}

	input::placeholder {
		color: lightgray;
		opacity: 1;
	}

	form {
		overflow: auto;
		max-height: 835px;
	}

	.social-selector {
		display: flex;
		flex-direction: column;

		.dropdown-wrapper {
			position: relative;
			height: 32px;
			width: 170px;

			select {
				height: 32px;
				width: 170px;
				background-color: white;
				padding: 5px;
				font-size: 13px;
				-webkit-appearance: none;
			}
			span[class*='iconfont-']{
				position: absolute;
				right: 11px;
				font-size: 10px;
				color: black;
				margin-top: 11px;
				pointer-events:  none;
			}
		}
	}

	.social-account {
		display: flex;
		align-items: center;

		.social-icon {
			height: 45px;
			flex: 0 0 45px;
			margin: 0 10px;
			border-radius: 50%;
			border: 1px solid #007add;
			box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.08), 0 4px 6px 0 rgba(83, 83, 92, 0.11);
			background-position: center;
			background-size: 50%;
			background-repeat: no-repeat;
		}
		span[class*='iconfont-']{
			font-size: 20px;
			color: lightgray;

			&:hover {
				color: black;
				cursor: pointer;
			}
		}
		input {
			background-color: $off-white;
			border: solid 1px $light-grey;
			font-size: 15px;
		}
	}

	button[type=submit]{
		@extend .button;
		width: 100%;
		.iconfont-spinner{
			margin-right: 0.5em;
		}
	}

	.ImageInputDropZone {
		.dropzone {
			@include font-family-demi();
			display: flex;
			justify-content: center;
			flex-direction: column;
			width: 100%;
			height: 100px;
			background-color: $off-white;
			border: solid 1px $light-grey;
			font-size: 15px;
			text-align: center;
			margin-top: 0;
			color: lightgray;

			span[class*='iconfont-']{
				font-size: 50px;
				color: lightgray;
			}

			&.draghover{
				border-color: $green;
				color: $green;
				cursor: copy;
			}
		}
		img.img-upload {
			height: 100px;
		}
	}
}
