@import "scss/_vars.scss";

.ProfilePageHeader, .MobileProfilePageHeader {
	margin-top: -30px;
	.social-icon {
		@extend .button-behavior;
		display: inline-block;
		width: 45px;
		margin: 5px 10px;
		height: 45px;
		border-radius: 50%;
		border: 1px solid $blue;
    	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.08), 0 4px 6px 0 rgba(83, 83, 92, 0.11);
		background-position: center;
		background-size: 50%;
		background-repeat: no-repeat;
	}
}

.ProfilePageHeader {
	.banner-image {
		background-position: center;
		background-size: cover;
		height: 35vh;
		@media (min-width: 1000px) {
			height: 50vh;
		}
	}
	.profile-details {
		position: relative;
		box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
		padding: 10px;
		.ProfileImage {
			margin: 0;
			position: absolute;
			border-radius: 50%;
			top: -70px;
			width: 140px;
			height: 140px;
			line-height: 140px;
		}
		.name-info {
			margin-left: 150px;
			min-height: 60px;
			display: inline-flex;
			flex-direction: column;
			justify-content: center;
			padding: 5px;

			h1.partnername {
				display: flex;
				align-items: center;
				font-size: 22px;
				@include font-family-demi();
				margin-bottom: 2px;
			}
			.tagline {
				font-size: 16px;
				line-height: 24px;
			}
		}
		.link-actions {
			display: inline-block;
			float: right;
			.cta-button {
				margin: 5px 10px;
				font-size: 16px;
				display: inline-block;
				vertical-align: top;
			}
		}
	}
}

.MobileProfilePageHeader {
	.banner-image {
		// background-image: linear-gradient(135deg, #84fab0, #8fd3f4);
		background-position: center;
		background-size: cover;
		height: 125px;
	}
	.profile-details {
		padding: 0 15px;
		position: relative;
		.ProfileImage {
			margin: 0;
			position: absolute;
			border-radius: 50%;
			top: -45px;
			width: 90px;
			height: 90px;
			line-height: 90px;
		}
		.name-info {
			margin-left: 5px;

			h1.partnername {
				display: flex;
				align-items: center;
				font-size: 22px;
				@include font-family-demi();
				margin-bottom: 2px;
				padding-top: 10px;
			}
		}
		.link-actions {
			display: inline-block;
			float: right;
			min-height: 40px;

			.cta-button {
				font-size: 14px;
				margin: 10px 0 0 0;
				padding: 8px 12px;
				vertical-align: top;
			}
		}
	}
}
