@import "scss/_vars.scss";
@import "scss/common.scss";

$gif-maker-border-color: #dcdfe6;

// BN - Button
@mixin button-style() {
	@include font-family-text-bold();
	font-size: 14px;
	line-height: 19px;
}

@mixin error-style() {
	@include font-family-text-light();
	font-size: 14px;
	line-height: 16px;
	display: flex;
	align-items: flex-start;
	color: #D0021B;
	text-align: left;

	img {
		height: 16px;
		margin-right: 4px;
	}
}

.GifMakerPage {
	// NOTE on mobile safari, button tags are preferable over divs for anything using click events since they don't require a touch handler in addition to the click handler (divs do)
	button {
		// NOTE: resetting unecessary default button attributes
		border: 0;
		padding: 0;
		background-color: transparent;
		appearance: none;
		-webkit-appearance: none;
		-moz-appearance: none;
		&:focus {outline: 0;}
		&:hover {cursor: pointer;}
	}

	h1 {
		@include font-family-medium();
		font-size: 32px;
		line-height: 30px;
		color: $blue;
	}

	h2 {
		@include font-family-medium();
		font-size: 20px;
		line-height: 24px;
		color: $off-black;
	}

	// BC - Body Copy
	p, a {
		@include font-family-text-light();
		font-size: 18px;
		line-height: 24px;
		color: $off-black;
	}

	// FC - Forms Copy
	input, textarea {
		@include font-family-text-regular();
		font-size: 16px; //mobile safari requirement for input fields: 16px
		line-height: 22px;
		border: solid 1px $gif-maker-border-color;
		border-radius: 2px;
		padding-left: 8px;
		height: 42px;
		resize: none;
		&::placeholder {
			color: #9B9B9B;
		}
	}

	// remove number input up/down selector
	input[type='number'] {
		-moz-appearance: textfield;

		&::-webkit-inner-spin-button,
		&::-webkit-outer-spin-button {
		    -webkit-appearance: none;
		    margin: 0;
		}
	}

	.buttons-row {
		display: flex;
		justify-content: flex-end;

		@media(max-width: $small-max-width) {
			position: fixed;
			bottom: 0;
			left: 50%;
			transform: translate(-50%);
			width: 100%;
			background-color: white;
			padding: 16px 16px 24px 16px;
			justify-content: center;
			z-index: 50;

			button {
				&[type=submit] {
					margin-top: 0;
				}
				&.cancel {

					flex: 1;
					margin-top: 0;
				}
			}
		}

		button {
			height: 40px;
			@extend .button;
			@include button-style();
			box-shadow: none;
			font-size: 14px;

			&:nth-child(n+2) {
				margin-left: 10px;
			}
			&[type=submit] {
				width: 187px;

				&:disabled, &.disabled {
					cursor: default;
					background-color: darkgray;
					border-color: darkgray;
					color: white;
				}
				.button-content {
					display: flex;
					align-items: center;
					justify-content: center;
					line-height: 18px;

					img, div {
						margin-right: 6px;
					}
				}
			}

			&.cancel {
				background-color: $light-grey;
				border-color: $light-grey;
				color: darkgray;
				width: 133px;

				&:disabled {
					cursor: default;
					background-color: darkgray;
					border-color: darkgray;
					color: white;
				}
			}
		}
	}

	@keyframes anim-rotate {
		0% {
			transform: rotate(0);
		}
		100% {
			transform: rotate(360deg);
		}
	}
	.iconfont-spinner {
		animation: anim-rotate 2s infinite linear;
	}
	.progressbarv1 {
		background-color: $blue;
		transition: width .3s linear;
		z-index: 105000;
	}
	.progressbarv2 {
		width: 100%;
		height: 6px;
		background-color: #9F9F9F;
		border-radius: 3px;

		.progress {
			height: 6px;
			background-color: $blue;
			border-radius: 3px;
			transition: width .3s linear;
		}
	}

	.dropzone {
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0;
        pointer-events: all;

		&:hover {
			cursor: pointer !important;
			border-color: $tenor-blue-500 !important;
			transition: border-color .2s linear !important;
		}
		&.draghover {
			cursor: copy !important;
			border-color: $tenor-blue-500 !important;
			transition: border-color .2s linear !important;
		}

		& > input {
			display: none;
		}
	}
}
