.GoogleSigninButton {
    line-height: 1;
    font-size: 0;
    width: fit-content !important;

    $normal: '/assets/img/auth/google/2x/btn_google_signin_dark_normal_web@2x.png';
    $disabled: '/assets/img/auth/google/2x/btn_google_signin_dark_disabled_web@2x.png';
    $focus: '/assets/img/auth/google/2x/btn_google_signin_dark_focus_web@2x.png';
    $pressed: '/assets/img/auth/google/2x/btn_google_signin_dark_pressed_web@2x.png';

    &::after{ // NOTE for preloading button images
       position: absolute; width: 0; height: 0; overflow: hidden; z-index: -1; // hide images
       content:url($normal) url($disabled) url($focus) url($pressed);   // load images
    }
    label.hidden {
        visibility: hidden; // NOTE hide label but retain for accessibility
        width: 0;
        height: 0;
        margin: 0;
    }
    button {
        width: 191px;
        height: 46px;
        margin: 0;
        padding: 0;
        border: none;
        line-height: 1;
        border-radius: unset;
        background-size: cover;
        background-color: unset;
        background-image: url($normal);

        &[disabled]{
            background-image: url($disabled);
        }
        &:not([disabled]){
            &:hover, &:focus{
                outline: none;
                background-image: url($focus);
            }
            &:active{
                background-image: url($pressed);
            }
        }
    }
}
