@import "scss/_vars.scss";

.forgot-password-page {
	margin-top: 40px;

	h1{
		@include font-family-demi();
		font-size: 25px;
		color: $off-black;
		margin-bottom: 40px;
	}

	label{
		@include font-family-regular();
		font-size: 15px;
		width: 100%;
	}
	#id_login, #id_password{
		@include font-family-demi();
		width: 100%;
		height: 50px;
		padding: 10px 14px;
	}
	input[type=submit]{
		width: 100%;
		margin-top: 60px;
	}

	.errors{
		margin-top: 5px;
	}
	.general-errors{
		margin-top: 2em;
	}
}
