@import "scss/_vars.scss";

.about-legal.container.page {
    width: 100%;
    @include font-family-text-regular();
    word-wrap: break-word;

    table {
        border-collapse: collapse;
        table-layout: fixed;

        tbody {
            @include font-family-text-regular();
            font-size: 15px;
        }
        tr {
            th {
                width: 50%;
                background-color: #e9f2f7b5;
                @include font-family-bold();
            }
        }
        td, th {
            vertical-align: top;
            padding: 10px 10px;
            border: 1px solid #e8e8e8;
        }
    }
    .legal-terms  {
        .terms-row {
            display: flex;
            word-break: break-word;

            div:first-child {
                flex: 0 0 50px;
            }
            &.level-1 {margin-top: 30px;}
            &.level-2 {margin-top: 12px;}
            &.level-3 {margin-top: 6px; margin-left: 50px;}
            &.level-4 {margin-top: 6px; margin-left: 100px;}
        }
    }
}
